table{
    border-collapse: collapse;
}
table,tr{
    
    border: 1px solid grey;
    ;
}
th,td{
    width: 200px;
    padding: 10px;
} 
th{
    background-color: red;
    color: white;
}
